html {
  overflow-x: hidden;
}

*,body{
    margin: 0%;
    padding: 0%;

}

 /* This is the rules that applies for everything in the code */
body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }

  /*Here are the hero image commands for it to follow  */
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/myhero.JPG");
	height: 90%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  position: relative;
  
  
  }
.heroname{
  font-family: 'Fjalla One', sans-serif;
  font-size: 70px;
  color:#66fcf1;
  padding-left: 8%;
  padding-top:15%;
}

/* This is all my css regaurding my navigation bar  */
/* This allows the navbar to overflow and how it looks and acts */
.topnav {
  overflow: hidden;
  background-color:#FFFF;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #45a29e;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color:green;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*This is my css code for my about  */
.aboutcontainer{
  position: relative;
  height: 78vh;
  text-align: center;

}

#aboutimage{
    width:100%;
    height:auto ;
    border-radius: 0%;
}
.aboutbutton{
    text-align: center;
    padding:10px;
}
.aboutparagraph{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    padding-left:60px;
    padding-right:60px;
    padding-top:10px;

}
.abouth1{
  font-family: 'Parisienne', cursive;
  font-size: 40px;
  color:#66fcf1;
}
.aboutbutton{
 
  color: white;
  padding-left: 30px;
  font-size: 10px;
  padding-right: 30px;
  background-color: white;
  border-color: #1f2833;
  border-radius: 12px;

}
.aboutbutton a{
  color:black;
  font-size:10px;
}
.col-8{
  padding:20em;
  padding-right: 125em;
}





#myskills{
  background: #1f2833;
  height: 80vh;
  
}

.myworkh1{
  text-align: center;
  font-size: 50px;
  font-family: 'Fjalla One', sans-serif;
     padding:50px;
   color: #66fcf1;
}
.skillscontainer{
  position: relative;
  width:1100px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  top: 4rem;

}
.skillscontainer .card{
  position: relative;
  max-width: 300px;
  height: 215px;
  background:#fff;
  margin: 30px 10px;
  box-shadow: 0.5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.9s ease-in-out;
  padding-bottom: 50px;

}

.skillscontainer .card:hover{
  height: 250px;

}

.skillscontainer .card .imgBx{
  position: relative;
  width:260px;
  top: -60px;
  left:20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
 

}

.skillscontainer .card .imgBx img{
  max-width:100%;
  border-radius: 4px;
}

.skillscontainer .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity:0;
  transition: 0.5s ease-in-out;
}

.skillscontainer .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
} 

.imagebanner2{
  background-image: url("./images/banners.JPG");
  background-attachment: fixed;     
  background-size: cover;
  height: 50vh;
}

.mint{
  height: 90vh;
  background-color:  #45a29e;
}
.edu{
	margin: 5%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  color:#45a29e;
}
.education{
  margin:8%;
}
.education a {
  color: #45a29e;
}
#myedutext{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  
}
.year20{
  font-size:55px;
  font-weight: 300;
  font-family: 'Gorditas', cursive;
  color: white;
  padding: 10px;

}
 .year19{
  font-size:55px;
  font-weight: 200;
  font-family: 'Gorditas', cursive;
  color: white;
  padding: 20px;

}
.year18{
  font-size:55px;
  font-weight: 300;
  font-family: 'Gorditas', cursive;
  color: #1f2833;
  padding: 20px;

}
.year17{
  font-size:55px;
  font-weight: 300;
  font-family: 'Gorditas', cursive;
  color: white;
  padding: 20px;
} 
.sub{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
#contact{
  background-color:#1f2833;  
} 
.contacth2{
 font-size: 50px;
 font-family: 'Fjalla One', sans-serif;
 text-align: center;
 padding:20px;
 padding-top: 40px;
 color: #66fcf1;
 
}
#contactblock2{
 background-color: #c5c6c7;
}
.icons{
	text-align: center;
}
.icons a{
	color:white;
}
.icons :hover{
  color: #66fcf1;
}
footer{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 15px;
  padding-top: 25px;
}

























































































@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }


html {
  overflow-x: hidden;
}

.heroname{
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  color:#66fcf1;
  text-align: center;
  
  padding-top:30%;
}
.aboutcontainer{
  position: relative;
  height: 145vh;
 

}
.aboutparagraph{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding: 25px;
  float: left;
  align: left;

  
}
 .skillscontainer{
  position: relative;
  width:1100px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: inline;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  top: 4rem;

}
.skillscontainer .card{
  position: relative;
  max-width: 300px;
  height: 215px;
  background:#fff;
  margin: 30px 10px;
  box-shadow: 0.5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.9s ease-in-out;
  padding-bottom: 50px;

}

.skillscontainer .card:hover{
  height: 250px;

}

.skillscontainer .card .imgBx{
  position: relative;
  width:260px;
  top: -60px;
  left:20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
 

}

.skillscontainer .card .imgBx img{
  max-width:100%;
  border-radius: 4px;
}

.skillscontainer .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity:0;
  transition: 0.5s ease-in-out;
}

.skillscontainer .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
 


}
















@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}